
.DS_Store
.ipynb_checkpoints/Evaluating Model's Performance-checkpoint.ipynb
.ipynb_checkpoints/Hyperparameter Tuning-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Pipeline-checkpoint.ipynb
.ipynb_checkpoints/Supervised Learning-checkpoint.ipynb
.ipynb_checkpoints/Supervised Learning-Classification-checkpoint.ipynb
.ipynb_checkpoints/Supervised Learning-Regression-checkpoint.ipynb
.ipynb_checkpoints/Supervised Learning-Regularization-checkpoint.ipynb
.ipynb_checkpoints/Preprocessing Data for Machine Learning-checkpoint.ipynb
.ipynb_checkpoints/Unsupervised Learning-checkpoint.ipynb
.ipynb_checkpoints/Deep Learning-checkpoint.ipynb
.ipynb_checkpoints/Pipelines-checkpoint.ipynb
